<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{101,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,101}}</string>
        <key>sourceSize</key>
        <string>{101,101}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,4},{11,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,102}}</string>
        <key>sourceSize</key>
        <string>{11,102}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,4},{34,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,103}}</string>
        <key>sourceSize</key>
        <string>{34,103}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,4},{62,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,103}}</string>
        <key>sourceSize</key>
        <string>{62,103}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,4},{63,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,103}}</string>
        <key>sourceSize</key>
        <string>{63,103}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,4},{34,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,103}}</string>
        <key>sourceSize</key>
        <string>{34,103}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>coinsAni.png</string>
      <key>size</key>
      <string>{353,111}</string>
      <key>textureFileName</key>
      <string>coinsAni</string>
    </dict>
  </dict>
</plist>
